# Compiler output
*.geany
*.o
*.swp
*.ll
*.bc
*.s
*.bin
a.out
test.d
testimp.d
add.d
test
test.o

# SVN?!
.svn

# Local files
/sdc
/sdc.bin
/cfg.dot
/bin

# Eclipse
build.rf
.classpath
.project
.buildpath
.dprojectoptions

#DMD/Windows
*.exe
*.map
*.obj
*.dll
*.lib
llvm/*.txt

# As there is currently no good way to provide one in the repository
/bin/sdc.conf
